 html {
    background: linear-gradient(to left, #eae5c9, #6cc6cb);
    font-family: sans-serif;
    text-align: center;

    }
 h1 {
    color: #ee5a5a;
    font-size: 44px;
    background: radial-gradient(circle, #ff0000 0%, #ff5e00 27%, rgb(254, 19, 19) 51%, #ff8100 75%, #ff0000 100%);
    text-shadow: 1px 1px 7px rgb(255, 71, 1), 1px 3px 6px rgba(255, 60, 0, 0.69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;7;
    }
 .main  {
    color: #2a247d;
    font-size: 25px;
    }
 #boss  {
    font-size: 44px;
    background: linear-gradient(20deg, #006eff, #00ff81 52%, #fff 50%, #93cbff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 7px #00ffcf80;
    text-decoration: none;
    }
