@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  background-color: #ededed;
}
h1 {
  margin-left: 20px;
}
