@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  background-color: #ededed;
  margin: 5px;
}

h1 {
  margin-left: 70px;
  margin-top: 95px;
}

#hah {
  width: 32px;
  heiht: 32px;
}

#vid {
 display: flex;
 justify-content: center;
}
