html
{
    font-family: sans-serif;
    background: #ECECEC;
    
}
hr {
    border: 3px solid;
    
}
a {text-decaration: none;}
.block-vid {
    position: relative;
    float: left;
    display: inline;
}
